/* fonts */
@font-face{
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Black.ttf), url(fonts/Montserrat-ExtraBold.ttf);
}
@font-face{
    font-family: 'DIN_Condensed_Bold';
    src: url(fonts/DIN_Condensed_Bold.ttf);
}

/* Type-1 css styles */
.type-1 > .cont-canvas > .cont-img{
    width: 1200px;
    height: 1200px;
}
.type-1 > .cont-canvas > .cont-img > .cont-text{
    position: absolute;
    width: inherit;
    height: 100px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: white;
}
.type-1 > .cont-canvas > .cont-img .cont-text  .text-precio{     
    font-style: normal;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 81px;
}
.type-1 > .cont-canvas > .cont-img > .cont-text > .text-medida{     
    font-style: normal;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 43px;
}
/* End styles type-1 */

/* Type-1 css preview */
.type-1 > .cont-canvas > .preview-cont-img{
    position: relative;
    width: 100%;
}
.type-1 > .cont-canvas > .preview-cont-img > .preview-text{
    position: absolute;
    width: inherit;
    height: 10%;
    margin-top: 17%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: white;
}
.type-1 > .cont-canvas > .preview-cont-img > .preview-text > .text-precio{
    font-style: normal;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vmin;
}
.type-1 > .cont-canvas > .preview-cont-img > .preview-text > .text-medida{
    font-style: normal;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
}
/* End styles type-1 preview */

/* Type-2 css styles */
.type-2 > .cont-canvas > .cont-img{
    width: 1200px;
    height: 1200px;
}
.type-2 > .cont-canvas > .cont-img > .cont-text{
    position: absolute;
    width: 251px;
    height: 145px;
    margin-top: 204px;
    margin-left: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.type-2 > .cont-canvas > .cont-img > .cont-text > .cont-column{
    height: inherit;
    display: flex;
    flex-direction: column;
}
.type-2 > .cont-canvas > .cont-img > .cont-text > .text-precio{     
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 120px;
}
.type-2 > .cont-canvas > .cont-img > .cont-text > .text-signo{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 89.8px;
}
.type-2 > .cont-canvas > .cont-img > .cont-text > .cont-column > .text-centavos{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 70px;
}
.type-2 > .cont-canvas > .cont-img > .cont-text > .cont-column > .text-medida{     
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 40px;
    margin-top: -35px;
    margin-left: 13px;
}
/* End styles type-2 */

/* Type-2 css preview */
.type-2 > .cont-canvas > .preview-cont-img{
    position: relative;
    width: 100%;
}
.type-2 > .cont-canvas > .preview-cont-img > .preview-text{
    position: absolute;
    width: 21%;
    height: 12%;
    margin-top: 17%;
    margin-left: 7.1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.type-2 > .cont-canvas > .preview-cont-img > .preview-text > .cont-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.type-2 > .cont-canvas > .preview-cont-img > .preview-text > .text-precio{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 7vmin;
}
.type-2 > .cont-canvas > .preview-cont-img > .preview-text > .text-signo{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 6vmin;
}
.type-2 > .cont-canvas > .preview-cont-img > .preview-text > .cont-column > .text-centavos{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 4vmin;
    margin-bottom: 10%
}
.type-2 > .cont-canvas > .preview-cont-img > .preview-text > .cont-column > .text-medida{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 3vmin;
    margin-top: -80%;
}
/* End styles type-2 preview */

/* Type-3 css styles */
.type-3 > .cont-canvas > .cont-img{
    width: 1200px;
    height: 1200px;
}
.type-3 > .cont-canvas > .cont-img > .cont-text{
    position: absolute;
    width: 251px;
    height: 145px;
    margin-top: 204px;
    margin-left: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.type-3 > .cont-canvas > .cont-img > .cont-text > .cont-column{
    height: inherit;
    display: flex;
    flex-direction: column;
}
.type-3 > .cont-canvas > .cont-img > .cont-text > .text-precio{     
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 120px;
}
.type-3 > .cont-canvas > .cont-img > .cont-text > .text-signo{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 89.8px;
}
.type-3 > .cont-canvas > .cont-img > .cont-text > .cont-column > .text-centavos{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 70px;
}
.type-3 > .cont-canvas > .cont-img > .cont-text > .cont-column > .text-medida{     
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 40px;
    margin-top: -35px;
    margin-left: 13px;
}
/* End styles type-3 */

/* Type-3 css preview */
.type-3 > .cont-canvas > .preview-cont-img{
    position: relative;
    width: 100%;
}
.type-3 > .cont-canvas > .preview-cont-img > .preview-text{
    position: absolute;
    width: 21%;
    height: 12%;
    margin-top: 17%;
    margin-left: 7.1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.type-3 > .cont-canvas > .preview-cont-img > .preview-text > .cont-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.type-3 > .cont-canvas > .preview-cont-img > .preview-text > .text-precio{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 7vmin;
}
.type-3 > .cont-canvas > .preview-cont-img > .preview-text > .text-signo{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 6vmin;
}
.type-3 > .cont-canvas > .preview-cont-img > .preview-text > .cont-column > .text-centavos{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 4vmin;
    margin-bottom: 10%
}
.type-3 > .cont-canvas > .preview-cont-img > .preview-text > .cont-column > .text-medida{
    font-style: normal;
    font-family: 'DIN_Condensed_Bold', sans-serif;
    font-size: 3vmin;
    margin-top: -80%;
}
/* End styles type-3 preview */