/* Type-1 css styles */
.type-1 .cont-canvas .cont-img{
    width: 1200px;
    height: 1200px;
}
.type-1 > .cont-canvas > .cont-img > .cont-text{
    position: absolute;
    width: inherit;
    height: 100px;
    margin-top: 230px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.type-1 > .cont-canvas > .cont-img > .cont-text > .text-precio{     
    font-size: 4em;
    font-weight: bold;
}
.type-1 > .cont-canvas > .cont-img > .cont-text > .text-medida{     
    font-size: 2em;
    font-weight: bold;
}
/* End styles type-1 */
/* Type-1 css preview */
.preview-cont-img{
    position: relative;
    width: 100%;
}
.preview-cont-img .preview-text{
    position: absolute;
    width: inherit;
    height: 10%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.preview-cont-img .preview-text > .text-precio{
    font-size: 5vmin;
    font-weight: bold;
}
.preview-cont-img .preview-text > .text-medida{
    font-size: 3vmin;
    font-weight: bold;
}
/* End styles type-1 preview */

/* Type-2 css styles */
/* End styles type-2 */